/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
/*::selection { background: #2bb673; color: #fff; text-shadow: none; }*/

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

ul, ol { margin: 1em 0; padding: 0 0 0 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

a { color: #444; text-decoration: none; }
a:visited { color: #444; }
a:hover { color: #2bb673; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }




@font-face {
    font-family: 'GeogrotesqueMedium';
    src: url('../fonts/geogtq-md-webfont.eot');
    src: url('../fonts/geogtq-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-md-webfont.woff') format('woff'),
         url('../fonts/geogtq-md-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-md-webfont.svg#GeogrotesqueMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	height: 100%;
}

body {
  font-family: "GeogrotesqueMedium", Helvetica, Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  min-height: 100%;
};
  overflow: hidden;
}

input {
	font-family: "GeogrotesqueMedium", Helvetica, Arial, sans-serif;
}


button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 15px/100% "GeogrotesqueMedium", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .9em; 
	-moz-border-radius: .9em;
	border-radius: .9em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 24px;
	background-color: #444;
	color: #22B673;
}

button:hover {
	text-decoration: none;
}

button:active {
	position: relative;
	top: 1px;
}


h1 {
  color: #fff;
  font-size: 32px;
  margin: 0 0 1em 0;
}

h2 { 
  color: #ccc;
  font-size: 21px;
  font-weight: normal;
  margin: 0 0 1em 0;
}


.room-name h1 {
  margin: 0;
}



/* =============================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr {
  border-top: thin solid #ccc;
  border-bottom: thin solid #ccc;
}

tr:nth-child(even) {
  background: #eee;
}

tr:nth-child(odd) {
  background: #fff;
}

th {
  background: #444;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 37px;
  padding: 0 15px;
  text-align: right;
}

th:first-child {
  text-transform: uppercase;
  text-align: left;
}

th.date {
  
}

th.hits {
  width: 100px;
}

th.score {
  width: 60px;
}

th.avg-players {
  width: 70px;
}

th.winner-score {
  width: 80px;
}

th.acu-score,
th.avg-score {
  width: 66px;
}

tr:hover {
  background: #999;
}

tr:hover td {
  color: #fff;
  cursor: pointer;
}

td {
  color: #444;
  font-size: 15px;
  line-height: 37px;
  padding: 0 15px;
  text-align: right;
  vertical-align: top;
}

td:first-child {
  text-align: left;
}

tr.player td {
  background: #22B673;
  color: #fff;
}

/* table.game */

table.game td:nth-of-type(1),
table.game td:nth-of-type(3) {
  font-family: "GeogrotesqueSemiBold"; 
}

.item {
  color: #444;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.item dt {
  background: #ccc;
  font-family: "GeogrotesqueSemiBold";
  font-size: 24px;
  height: 66px;
  line-height: 66px;
  margin: 0;
  padding: 0 4%;
  width: 92%;
}

.item dd {
  background: #fff;
  border-top: 1px solid #eee;
  color: #777;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 4% 4%;
  width: 92%;
}

.item dd .avatar {
  vertical-align: middle;
}

.item dt.player {
  background: #444;
  color: #fff;
}

.item dd.player {
  background: #22B673;
  border: none;
  color: #fff;
}

span.player {
  color: #444;
  font-family: "GeogrotesqueSemiBold";
  font-size: 18px;
  margin: 0 5px 0 0;
}

.avatar {
  margin: 0 8px 0 0;
  vertical-align: top;
}

.filters {
  background: #444;
  border-bottom: 1px solid #333;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.filters li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
}

.filters a {
  background: #333;
  color: #fff;
  margin: 0 6px 0 0;
  text-align: center;
  padding: 8px 12px;
  width: 100px;
}

.filters a:hover {
  background: #222;
}

.filters .active a {
  background: #2bb673;
  font-family: GeogrotesqueSemiBold; 
}

.filters .previous {
  margin: 0 0 0 29px;
}

.filters .previous a,
.filters .next a{
  width: 30px;
}


/***************** APP VIEWS  ************/

/* Login View */


main#loginview{
	background-color: #000;
	height: 100%;
}

div#loginform{
	width: 300px;
	margin: auto;
	padding-top: 160px;
	text-align: center;
}

div#loginform h1{
	font-weight: bolder;
	font-size: 55px;
	color: #fff;
	margin-bottom: 0px;
}

div#loginform h2{
	color: #2bb673;
	margin-bottom: 50px;
}

div#loginform div{
	margin-top: 50px;
	display: inline;
}

div#loginform input{
	background-color: #444;
	color: #fff;
	margin: 5px 0;
	padding: 6px;
	font-size: 15px;
	border: 0;
	min-width: 180px;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#666));
	background: -moz-linear-gradient(top,  #444,  #666);
}

div#loginform button#login-submit{
	margin-top: 12px;
	min-width: 120px;
	font-size: 15px;
	padding: 5px;
}

div#loginform div.formfooter{
}


div#loginform div.formfooter a{
	font-size: 18px;
	color: #ccc;
}

div#loginform div.formfooter div.leftfoot{
	width: 150px;
	float: left;
	text-align: left;
}

div#loginform div.formfooter div.rightfoot{
	width: 150px;
	float: right;
	text-align: right;
}




/* ////////// */
/*  HallRoom */
/* ////////// */


main#hallroom div.content {
	background-color: #fff;
  	float: left;
  	width: 100%;
}


main#hallroom div.tableheader{
	background: #444;
  	color: #ccc;
  	display: block;
  	line-height: 25px;
  	padding: 0 20px;
}

main#hallroom div.tableheader p{
	
	margin: 0;
	text-transform: uppercase;
}

main#hallroom ul.roomlist {
	margin: 0;
}

main#hallroom ul.roomlist li{
	list-style-type: none;
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
	padding-left: 30px;
	border-bottom: thin solid #ccc;
}

main#hallroom ul.roomlist li span.rowroom{
}

main#hallroom ul.roomlist li span{
	
}

main#hallroom ul.roomlist li span.roomname{
	
}

main#hallroom ul.roomlist li span.roomtopic{
	font-size: small;
	font-weight: bold;
	color: #ccc;
}

main#hallroom ul.roomlist li div.roomdata{
	padding: 0 25px;
	float: right;
	text-align: center;
}

main#hallroom ul.roomlist li div.roomdata span{
	margin: 0 15px;
}


/* ////////// */
/*   Topbar   */
/* ////////// */

div#topbar {
	margin: 0;
	padding: 0 15px;
	background-color: #222;
	height: 40px;
	border-bottom: 2px solid gray;	
	color: #fff;
	display: block;
}

div#topbar div.sideblock{
	color: #2bb673;
}

div#topbar div.blockbar-left {
	width: 200px;
	float: left;
}

div#topbar div.blockbar-left div#room-exit {
	width: 40px;
	height: 40px;
	background-image: url("../img/exitButton.png");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: ;
}

div#topbar div.blockbar-right {
	width: 240px;
	padding-top: 10px;	
	float: right;
	text-align: right;
}

div#topbar div.blockbar-center {
	reset: left;
	margin: auto;
	width: 500px;
	text-align: center;
	font-size: 25px;
	padding-top: 3px;
}

div#topbar div.blockbar-right li a{
	font-size: 1.2em;
	color: #2bb673;
}

div#topbar div.blockbar-right li a:hover{
	color: #00d2a9;
}

div#topbar div.blockbar-right li{
	display: inline;
	list-style: none;
	margin: 0 6px;
	padding: 10px;
	height: 10px;
	width: 10px;
}

div#topbar div.blockbar-right li#player-menu {
	text-align: right;
	background-image: url("../img/defaultAvatar.png");
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 30px;
}


/* ////////// */
/*  Room View */
/* ////////// */

main#roomview{
	height: 690px;
}

main#roomview div#mainwrap{
	height: 100%;
}

main#roomview div#mainwrap div#rankingsview{
	width: 400px;
	height: 100%;
	float: right;
	background-color: #d5d5d5;
}

main#roomview div#mainwrap div#rankingsview{
	border-left: 2px solid gray;
	background-color: #fff;
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp{
	margin: 0;
	padding: 0;
	height: 28px;
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tab{
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 12px 0;
	width: 50%;
	min-height: 100%;
	list-style-type: none;
	font-size: 18px;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#ddd));
	background: -moz-linear-gradient(top,  #aaa,  #ccc);
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tab a{
	color: #666;
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tab a:hover{
	color: black;
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tab.active{
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));	
	background: -moz-linear-gradient(top,  #eee,  #fff);
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tab.active a{
	color: black;
}


main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tableft{
	float: left;
}

main#roomview div#mainwrap div#rankingsview div#tabswrapp div.tabright{
	float: right;
}


table#scoreboard {
}


div#mainwrap div#gamefield div#topbuttons{
	background-color: inherit;
	height: 90px;
	border-bottom: none;
}

div#mainwrap div#gamefield div#topbuttons button.lifeline{
	background-color: #555;
	width: 115px;
	height: 75px;
	margin: 5px	;
	margin-top: 10px;
	display: inline-block;
}

div#mainwrap div#gamefield div#topbuttons button#lifeline-fifty{
	background-image: url("../img/fiftyLifelineButton.png");
}

div#mainwrap div#gamefield div#topbuttons button#lifeline-clairvoyance{
	background-image: url("../img/clairvoyanceLifelineButton.png");
}

div#mainwrap div#gamefield div#topbuttons button#lifeline-rollback{
	background-image: url("../img/rollbackLifelineButton.png");
}


main#roomview div#mainwrap div#gamefield {
	width: 480px;
	height: 100%;
	float: right;
	background-color: #333;
	color: #fff;
	text-align: center;
}


main#roomview div#pregamepad {
	margin-top: 200px;
	height: 300px;
}

main#roomview div#pregamepad button#join-submit {
	padding: 12px;
	width: 165px;
}

main#roomview div#mainwrap div#gamepad {
	height: 280px;
}


main#roomview div#mainwrap div#gamefield div#questionpad {
	height: 100%;
	position: relative;
}

main#roomview div#mainwrap div#gamefield div#gameinfo {
	margin-top: 20px;
	height: 30px;
	color: #888;
	font-size: 15px;
}

main#roomview div#mainwrap div#gamefield div#gameinfo span {
	margin: 0 5px;
}

main#roomview div#mainwrap div#gamefield div#questionpad div#questionblock {
	font-size: 22px;
	padding-top: 40px;
	min-height: 200px;
}

main#roomview div#mainwrap div#gamefield {

}

main#roomview div#mainwrap div#gamefield p {
	margin: 10px;
	padding: 0;
}

main#roomview div#mainwrap div#gamefield div#optionspad {
	height: 260px;
}

main#roomview div#mainwrap div#gamefield div#optionspad p{
	margin: 0;
	padding-top: 20px;
	padding-left: 30px;
	width: 100%;
	position: relative;
	top:35%;
	text-align: left;
	font-size: 18px;
}

main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock{
	/*height: 76px;*/
	min-height: 25%;
	border-top: thin solid #000;
}

main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock.selected{
	background-color: #666;
}

main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock.right{
	background: url("/img/rightoption.png") no-repeat right center;
}

main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock.hit{
	background-color: #2bb673;
}

main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock.fail{
	background-color: #b63d2c;	
}


main#roomview div#mainwrap div#gamefield div#optionspad div.optionblock[enabled="true"]:hover{
	background-color: #555;
	cursor: pointer;
}

main#roomview div#mainwrap #timebar-outer{
	position: absolute;
	bottom: 5px;
	height: 10px;
    width: 96%;
    padding: 1px;
    margin: 0;
    margin-left: 8px;
    background-color: #fff;
    -webkit-border-radius: 13px;
}

main#roomview div#mainwrap #timebar-outer.timeout{
	background-color: #b63d2c;
}


main#roomview div#mainwrap #timebar-inner{
    background-color: #2bb673;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 9px;
}

main#roomview div#mainwrap #timebar-inner.overtime{
	background-color: #666;
}



/*******  Chat   ********/

main#roomview div#mainwrap div#chatview{
	width: auto;
	height: 100%;
	overflow: hidden;
	/*top:0;
  	right:0;
  	bottom:0;
  	left:0;*/
	/*background-color: #eee;*/
	background-color: fuchsia;
	
}

main#roomview div#mainwrap div#chatview div.chatwrappers{
	text-align: center;
	background-color: #999;
	padding: 0;
	margin: auto;
	border: none;
	width: 100%;
	height: 100%;
}

main#roomview div#mainwrap div#chatview div#chatdisplay{
	height: 95%;
}

main#roomview div#mainwrap div#chatview div#chatwrite{
	height: 24px;
	bottom: 0;
	padding: 5px 0;
}

main#roomview div#mainwrap div#chatview div#chatdisplay textarea#chattext{
	width: 99%;
	min-height: 100%;
	font-family: "GeogrotesqueMedium", Helvetica, Arial, sans-serif;
	padding: 0;
	padding-left: 6px;
}

main#roomview div#mainwrap div#chatview div#chatwrite input#chatinput{
	width: 95%;
	margin: auto;
	height: 18px;
}
